@import 'bootstrap/scss/bootstrap';

$body-bg: #f8f9fa;
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$open-sans: 'Open Sans', sans-serif;
$main-font-color: #0c2028;
$body-bg: #f8f9fa;
$primary: #82b29a;
$salmon: #e17b60;

html {
  scroll-behavior: smooth;
}

body {
  color: $main-font-color;
  letter-spacing: 0.07em;
  background-color: $body-bg;
}

main {
  overflow-x: hidden;
}

.margin-identity-cards {
  margin-right: 2%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.modal-w {
  min-width: 60vw;
}
