@import "~bootstrap/scss/bootstrap";

$body-bg: #F8F9FA;
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$open-sans: 'Open Sans', sans-serif;
$main-font-color: #0C2028;
$body-bg: #F8F9FA;
$primary: #82B29A;
$orange: #E17B60;

body {
    color: $main-font-color;
    letter-spacing: 0.07em;
    background-color: $body-bg;
}

main {
    overflow-x: hidden;
}

.margin-identity-cards {
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 50px;
}

